.abrir-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
 
.animacion {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}
 
.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}
 
@keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}
 
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
 
    to {
        opacity: 1
    }
}

#image_cards {
    max-width: 40%;
}

.lds-dual-ring {
    /* change color here */
    color: #1c4c5b
  }
  .lds-dual-ring,
  .lds-dual-ring:after {
    box-sizing: border-box;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (min-width:1025px) { .container { width: 60% !important;} }

  .modal-dialog-scrollable {
    max-height: 80vh; /* Ajusta esto según tus necesidades */
  }
  
  .modal-body {
    overflow-y: auto;
  }
  
  .skill-text {
    max-height: 290px; /* Ajusta este valor según tus necesidades */
    overflow-y: auto;
  }

  .card-text {
    font-size: 0.800rem; /* Tamaño de fuente específico para el texto dentro de la tarjeta */
    margin-bottom: 1rem; /* Espacio inferior para separar del siguiente contenido */
  }

/* CSS personalizado para el botón de cierre */
.btn-close {
  width: 30px; /* Ajusta el tamaño del botón */
  height: 30px; /* Ajusta el tamaño del botón */
  background-color: red; /* Color de fondo rojo */
  border-radius: 50%; /* Hacer que sea redondeado */
  border: none; /* Eliminar el borde predeterminado */
}

.btn-close::before {
  color: white; /* Color del icono de cierre */
}

.table-responsive {
  overflow-x: auto;
}

.card-body {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.card-col {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
Explicación
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));: Esto crea un diseño de cuadrícula donde cada ítem tiene un tamaño mínimo de 200px y se ajusta automáticamente para llenar el espacio disponible.

gap: 1rem;: Define el espacio entre los ítems de la cuadrícula.

.grid-item: Centra el contenido dentro de cada celda de la cuadrícula.

*/